
    <ion-view cache-view="false" view-title="Purchased info list">

        <ion-content>
            <label class="item item-input item-select">
                <span class="input-label">Year</span>
                <select ng-model="options.year" ng-change="getPurchasedInfo()">
                    <option  value="2015">2015</option>
                    <option  value="2016" >2016</option>
                </select>

            </label>
           <!-- <label class="item item-input item-select">
                <span class="input-label">User</span>
                <select ng-model="formData.categoryId">

                </select>

            </label>-->
            <label class="item item-input item-select">
                <span class="input-label">Month</span>
                <select ng-model="options.month" ng-change="getPurchasedInfo()">
                    <option  value="1">January</option>
                    <option  value="2" >February</option>
                    <option  value="3">March</option>
                    <option  value="4" >April</option>
                    <option  value="5">May</option>
                    <option  value="6" >June</option>
                    <option  value="7">July</option>
                    <option  value="8" >Augst</option>
                    <option  value="9">September</option>
                    <option  value="10" >October</option>
                    <option  value="11">November</option>
                    <option  value="12" >December</option>

                </select>

            </label>
           <!-- <button type="button" class="button button-block button-positive" ng-click="getPurchasedInfo()" >
                click to see list
            </button>-->

            <div class="row" >
                <div class="col bold-text">Item</div>
                <div class="col bold-text">Cost</div>
                <div class="col bold-text">Billed by</div>
                <div class="col bold-text">Purchased On</div>
            </div>
            <div class="row" ng-repeat="item in itemList">
                <div class="col">{{item.text}}</div>
                <div class="col ">{{item.amount}}</div>
                <div class="col">{{item.userProfileId.firstName}}</div>
                <div class="col">{{item.date}}</div>
            </div>
            <div class="row" >
                <div class="col bold-text">Total expenses</div>
                <div class="col bold-text">{{totalSum}}</div>
                <div class="col"></div>

            </div>
            <p class="text-center">
                <a href="#/tabs/home">Home</a>
            </p>

        </ion-content>
    </ion-view>

